
{% load socialaccount %}
{% load static %}

{% get_providers as socialaccount_providers %}


{% if provider.id == "openid" %}

<span>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</span>
{% endif %}
<span class="social-button">
  <a id="twitter-button" title="Twitter" class="socialaccount_provider twitter" href="/accounts/twitter/login/?process=login"> 
    <img class="m-3"
    src="{% static 'images/socialaccounts/twitter.png' %}" alt="twitter login">
  </a>
</span> 
  <span class="social-button">
    <a id="google-button"  title="Google" class="socialaccount_provider google" href="/accounts/google/login/?process=login">
      <img class="m-3"
      src="{% static 'images/socialaccounts/google.png' %}" alt="google login">
    </a>
  </span>
