{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="main">
    <div class="container-fluid carousel-container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for product in products %}
                            {% if product.id|divisibleby:2 == 0%}
                                {% if product.image_url != None %}
                                <div class="carousel-item">
                                <a href="{% url 'product_details' product.id %}">
                                    <img class="card-img-top" src="{{ product.image_url }}" alt="{{product.name}}">
                                    <span class="carousel-description">{{product.name}}<br>€{{product.price}}</span>
                                </a>    
                                </div>
                                {% elif "No%20Image" not in product.image.url %}
                                <div class="carousel-item">
                                    <a href="{% url 'product_details' product.id %}">
                                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{product.name}}">
                                    <span class="carousel-description">{{product.name}}<br>€{{product.price}}</span>
                                    </a>
                                </div>
                                {% endif %} 
                            {% endif %}
                        {% endfor %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" onclick="$('#myCarousel').carousel('prev')">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next" onclick="$('#myCarousel').carousel('next')">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden"></span>
                    </button>
                </div>
            </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div id="myCarousel2" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for product in products %}
                            {% if product.id|divisibleby:2 != 0 and product.image.url != None %}
                                {% if product.image_url != None %}
                                <div class="carousel-item">
                                <a href="{% url 'product_details' product.id %}">
                                    <img class="card-img-top" src="{{ product.image_url }}" alt="{{product.name}}">
                                    <span class="carousel-description">{{product.name}}<br>€{{product.price}}</span>
                                </a>    
                                </div>
                                {% elif "No%20Image" not in product.image.url %}
                                <div class="carousel-item">
                                    <a href="{% url 'product_details' product.id %}">
                                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{product.name}}">
                                        <span class="carousel-description ">{{product.name}}<br>€{{product.price}}</span>
                                    </a>
                                </div>
                                {% endif %} 
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel2" data-bs-slide="prev" onclick="$('#myCarousel2').carousel('prev')">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel2" data-bs-slide="next" onclick="$('#myCarousel2').carousel('next')">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
        <hr class="featurette-divider">

    <div class="container-fluid marketing">
        <h1 class="text-center">Handcrafted in Ireland</h1>
        {{rand_products}}
        {% include 'includes/category-grid.html' %}
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Glassware</h2>
                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how
                    this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="img-fluid" src="{{ product.image_url }}" alt="{{product.name}}" style="width:500;height:500;">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Jewellery</h2>
                <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
                    intended to be actually read, simply here to give you a better view of what this would look like
                    with some actual content. Your content.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                </svg>

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Clothing</h2>
                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how
                    this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                </svg>
            </div>
        </div>
        <hr class="featurette-divider">

    </div><!-- /.container -->
</div>

{% endblock %}


{% block postloadjs %}
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
<script>
    $(document).ready(function () {
      $('#myCarousel').find('.carousel-item').first().addClass('active');
      $('#myCarousel2').find('.carousel-item').first().addClass('active');
    });
  </script>
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}