{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h3 class="logo-font mb-4">Success! Thank you for your Order!</h3>
            <hr>
            <p>Here are you order details. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-7">
            <div class="basket-notification-wrapper">
                {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-3 m-2 d-flex align-items-center justify-content-center">
                            {% if item.product.image_url != None %}
                                <img class="checkout-thumbnail"  src="{{ item.product.image_url }}" alt="{{item.product.name}}">
                            {% elif "No%20Image" not in item.product.image.url %}
                                <img class="checkout-thumbnail" src="{{ item.product.image.url }}" alt="{{item.product.name}}">
  
                            {% else %} 
                                <img class="checkout-thumbnail" src="https://demofree.sirv.com/products/123456/123456.jpg?profile=error-example" alt="{{item.product.name}}">          
                            {% endif %}
                        </div>
                        <div class="col-5 m-3">
                            <p class="my-1 text-black"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-1 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                    {% endfor %}
                
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col">
                        <p class="my-1 text-black"><strong>{{ order.full_name}}</strong></p>
                        <p class="my-1 small text-muted"></p>
                    </div>
            </div>
            </div>
      

        </div>
    
    </div>
</div>
{% endblock %}
