{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Your Basket  <i class="fas fa-shopping-basket fa-xs"></i></h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if basket_items %}
                <div class="table-responsive">
                   <table class="table table-sm table-borderless">
                       <thead class="text-heading">
                           <tr>
                               <th class="px-3" scope="col">Product Info</th>
                               <th class="px-3"scope="col"></th>
                               <th class="px-3"scope="col">Price</th>
                               <th class="px-3"scope="col">Quantity</th>
                               <th class="px-3"scope="col">Subtotal</th>
                           </tr>
                        
                       </thead>
                       
                       {% for item in basket_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <img class="img-thumbnail" src="{{ item.product.image_url}}" alt="{{ item.product.name }}">
                                </td>
                                <td class="">
                                    <p class=""><strong>{{ item.product.name }}</strong></p>
                                </td>
                                <td class="p-3">
                                    <p class="my-0 text-right">€{{ item.product.price }}</p> x  {{item.quantity}}
                                </td>
                                <td class="p-3 w-25">
                                   <form action="{% url 'adjust_basket' item.item_id %}" class="form update-form" method="POST">
                                       {% csrf_token %}
                                       <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-black rounded-0" 
                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id}}">
                                                    <span>
                                                        <i class="fas fa-minus fa-xs"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control qty_input w-25" type="number"
                                                name="quantity" value="1" min="1" max="99"
                                                data-item_id="{{ item.item_id }}"
                                                id="id_qty_{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-black rounded-0"
                                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id}}">
                                                    <span>
                                                        <i class="fas fa-plus fa-xs"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                   </form>
                                    <a class="update-link text-info pointer">
                                        <small>Update</small>
                                    </a>
                                    <a class="remove-item text-danger float-right pointer" id="remove_{{ item.item_id }}">
                                        <small>Remove</small>
                                    </a>
                                </td>
                                <td class="p-3 text-right">
                                    <p class="my-0">€{{item.item_total}}</p>
                                </td>
                            </tr>
                       {% endfor %}
                       <tr>
                           <td colspan="5" class="text-right px-3 table-total">
                               <p><strong>Basket Total: €{{ total|floatformat:2}} </strong></p>
                               <p>Delivery: €{{ delivery|floatformat:2}}</p>
                               <p>Grand Total: €{{ grand_total|floatformat:2}}</p>
                           </td>
                       </tr>
                       <tr>
                        <td colspan="5" class="text-right">
                        <div class="col-12 text-right">
                            <a href="{% url 'products' %}" class="btn btn-primary btn active mt-2" role="button" aria-pressed="true">Continue Shopping</a>
                            <input type="submit" class="btn btn-secondary btn active mt-2" value="Checkout">
                            <input type="hidden" name="redirect_url" value="{{ request.path  }}">
                        </div>
                    </td>
                    </tr>
                   </table>
                   <hr>
                </div>
            {% else %}
                <p class="m-5">You have nothing in your basket. </p>
                <a href="{% url 'products' %}" class="btn btn-outline-black btn-lg">
                    <hr> 
                    Keep shopping <i class="fas fa-arrow-right"></i>
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        // var size = $(this).data('size');
        var url = `/basket/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}
