<!-- Code institute boutique ado tutorial -->
<form action="{% url 'adjust_basket' item.item_id %}" class="form update-form" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-black rounded-0" data-item_id="{{ item.item_id }}"
                    id="mob-decrement-qty_{{ item.item_id}}">
                    <span>
                        <i class="fas fa-minus fa-xs"></i>
                    </span>
                </button>
            </div>
            <input class="form-control qty_input p-0 text-center w-25" type="number" name="quantity" value="1" min="1"
                max="99" data-item_id="{{ item.item_id }}" id="mob-id_qty_{{ item.item_id }}">
            <div class="input-group-append">
                <button class="increment-qty btn btn-black rounded-0" data-item_id="{{ item.item_id }}"
                    id="mob-increment-qty_{{ item.item_id}}">
                    <span>
                        <i class="fas fa-plus fa-xs"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
<a class="update-link text-info pointer">
    <small>Update</small>
</a>
<a class="remove-item text-danger float-right pointer" id="mob-remove_{{ item.item_id }}">
    <small>Remove</small>
</a>