/* GLOBAL STYLES
/* Bootstrap template CSS */
/*-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    padding-top: 5rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    font-family: Work Sans,sans-serif;
    margin-top: 80px;
    display: flex;
    flex-direction:column;
    height:100vh; 
}

header {
    padding-top: 100px;
}

.btn-outline-success {
  color: #fff;
  border-color: #fff;
}

.btn-outline-success:hover {
  color:  #343a40;
  background-color: #fff;
  border-color: #fff;
} 

footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    margin-top:auto; 
    min-height:50px;
}

footer p:last-child {
    margin-bottom: 0;
    background-color: #f9f9f9;
}

.text-heading {
    font-weight: bolder;
}

.img-thumbnail {
    border: 0 none;
}

.table-total {
    border-top: 1px solid rgb(68, 68, 68) !important; 
}

.pointer {
    cursor: pointer;
}

.navbar-container{
  padding: 0 ;
}

.navbar-brand img {
  max-height: 89px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 8px;
  left: 22px;
}

.category-nav li{
  background-size: 100% 200%;
  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  transition: background-position 1s;
}

.category-nav li:hover{
  background-position: 0 -100%;
}

.category-nav li:nth-child(1){
  background-image: linear-gradient(to top, #767aa1a4 50%, transparent 50%);
}

.category-nav li:nth-child(2){
  background-image: linear-gradient(to top, #f7c7fc 50%, transparent 50%);
}

.category-nav li:nth-child(3){
  background-image: linear-gradient(to top, #aaafc3 50%, transparent 50%);
}

.category-nav li:nth-child(4){
  background-image: linear-gradient(to top, #daa384 50%, transparent 50%);
}

.category-nav li:nth-child(5){
  background-image: linear-gradient(to top,  #A5D6A7 50%, transparent 50%);
}

.category-nav li:active a{
  color:#fff;
}

/* Carousel */
.carousel {
    margin-bottom: 4rem;
}

.carousel-container{
  height: 75vh;
  overflow: hidden;
}

.carousel-container, .carousel-container .col-md-6, .carousel-container .col-sm-12 {
    padding: 0; 
}

.carousel-control-prev, .carousel-control-next {
    background-color: transparent;
    border: none;
    z-index: 10;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  z-index: 999999;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   z-index: 999999;
 }

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    position: relative;
    height:100%;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 32rem;
    object-fit: cover;
    -o-object-fit: cover;  
}


.carousel-description {
  font-size: 1.25rem;
  position: absolute;
  display: block;
  right: 2rem;
  bottom:2rem;
  left: 2rem;
  height: 100px;
  text-align: center;
  top: 50%;
  width: 85%;
  margin: auto;
  color: black;
  z-index: 100;
  opacity: 0;
  transform: translate3d(0, -50%, 0);
  transition: 0.3s 0s;
  background: radial-gradient(rgba(255, 255, 255, 0.986),rgba(214, 201, 201, 0) );
}

.carousel-item:hover .carousel-description {
  opacity: 1;
  transition: 0.6s 0.3s;
}/*# sourceMappingURL=test.css.map */

/* 
Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* Featurettes
  ------------------------- */

.featurette-divider {
    margin: 1rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .page-item {
    display: inline-block;
  }

  .overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* PRODUCT DETAILS
  -------------------------------------------------- */

.product-details{
  box-sizing: border-box; 
  padding: 0 30px 30px;
  padding-bottom: 100px; 
}

.product-image{
  box-sizing: border-box; 
}


.card-deck .card-text{
  font-size: 17px;
}

.card-deck .card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.text-black {
  color: black !important;
}

.basket-dropdown-zone{
  position:relative;
}

.basket-dropdown-zone a.text-info{
  color: #77cc7a !important;
}

.basket-dropdown-zone a.text-info:focus, .basket-dropdown-zone a.text-info:hover {
  color: #1e7140!important;
}

.basket-dropdown-zone:hover{
  color: #4750479a ;
}

.basket-body, .basket{
  font-size: .8rem ;
}
.basket-dropdown-zone:hover .basket-dropdown{
  display: block;
} 

.basket-dropdown .toast-body {
  font-size: 15px;
}

.basket-dropdown {
  background-color: white;
  display: none;
  width: 300px;
  position: absolute;
  z-index: 9999999;
  right: 49px;
  top: 82px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 50vh; 

}

.basket-dropdown-zone:hover + .basket-dropdown {
    display:block; 
}

.checkout {
  background-color: rgb(255, 181, 43);
}

.qty_input {
  min-width: 50px;
}

.dropdown-arrow:before {
  content: "";
  position: absolute;
  top: -24px;
  right: 0;
  width: 26px;
  height: 33px;
  background:
  radial-gradient(circle at top left, transparent 58%, #ffffff 60%);
}

.navbar-nav .dropdown-menu {
  z-index: 999999999;
}

.allauth-content {
  background-color: red;
}



/* Readmore CSS from https://www.viralpatel.net/dynamically-shortened-text-show-more-link-jquery/
  -------------------------------------------------- */

.comment {
	max-width: 400px;
}

a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;

}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

@media (max-width: 992px) {
    body {
      padding-top: 0;
    } 
}
