<div class="collapse navbar-collapse">
    <ul class="navbar-nav w-auto mx-auto category-nav">
        <li class="nav-item px-4">
            <a class="logo-font font-weight-bold nav-link text-black m-1" href="{% url 'products'%}" id="all-products-link">
                All Products
            </a>  
        </li>
        <li class="nav-item px-4">
            <a class="logo-font font-weight-bold nav-link text-black m-1" href="{% url 'products' %}?category=textiles" id="textiles-link">
                Textiles
            </a>  
        </li>
        <li class="nav-item px-4">
            <a class="logo-font font-weight-bold nav-link text-black m-1" href="{% url 'products' %}?category=prints" id="prints-link">
                Prints 
            </a>  
        </li>
        <li class="nav-item px-4">
            <a class="logo-font font-weight-bold nav-link text-black m-1" href="{% url 'products' %}?category=glassware" id="glassware-link">
                Glassware
            </a>  
        </li>
        <li class="nav-item px-4">
            <a class="logo-font font-weight-bold nav-link text-black m-1" href="{% url 'products'%}?category=kitchen" id="kitchen-link">
                Kitchen
            </a>  
        </li>
    </ul>
    </div>

