{% load static %}

<!-- Basket dropdown menu item -->
<li class="toast-header bg-white text-black">
   
   <a href="{% url 'view_basket' %}" aria-label="your basket"> <strong class="mr-auto">Your basket {% if grand_total %}({{ product_count }}){% endif %}</strong>
        </a> 
        <span class="ml-1 close small ml-auto">Close</span>
</li>
<li class="toast-body bg-white">
    {% if grand_total %}
        <div class="basket-notification-wrapper">
            {% for item in basket_items %}
                <div class="row">
                    <div class="col-3 my-1">
                        {% if 'No%20Image' not in item.product.image.url %}
                            <img class="img-thumbnail"  src="{{ item.product.image.url }}" alt="{{item.product.name}}">
                        {% else %} 
                            <img class="img-thumbnail" src="https://demofree.sirv.com/products/123456/123456.jpg?profile=error-example" alt="{{item.product.name}}">
                        {% endif %}
                    </div>
                    <div class="col-9">

                        <p class="my-0 text-black"><strong>{{ item.product.name }}</strong></p><a class="remove-item text-danger float-right pointer" id="remove_{{ item.item_id }}">
                            <small>X</small>
                        </a>
                        <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col checkout-button-dropdown">
                <strong><p class="mt-3 mb-1 text-black">
                    Total: 
                    <span class="float-right">€{{ total|floatformat:2 }}</span>
                </p></strong>
                <div class="text-muted text-right">Delivery not incl.</div>
                <a href="{% url 'checkout' %}" class="btn btn-block mt-1 checkout">
                    <span class="">Checkout</span>
                    <span class="icon">
                        <i class="fas fa-shield-alt"></i>
                    </span>
                   
                </a>
            </div>
        </div>
    {% else %}
        <p class="m-5">Your basket is empty </p>
    {% endif %}
</li>

{% block postloadjs %}

<script>
// Remove item and reload on click
    $(".remove-item").click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr("id").split("remove_")[1];
        var url = `/basket/remove/${itemId}`;
        var data = {"csrfmiddlewaretoken": csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}