
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h3 class="logo-font mb-4">Your Account</h3>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                    <div class="rounded px-3 mb-5">
                        <h6 class="mb-4">ACCOUNT DETAILS</h6>
                       
                        <p>Full Name: {{customer.user.first_name}} {{customer.user.last_name}}</p>
                        <p>Username: {{customer.user}}</p>
                        <p>Email Address: {{customer.user.email}}</p>
                        <p>Phone Number: {{customer.phone_number}}</p>
                    </div>
                    <hr>
                    <div class="px-3 mb-5 address">
                        <h6 class="mb-4">DELIVERY ADDRESS</h6>
                        <p>{{customer.street_address1|default_if_none:""}} </p>
                        <p>{{customer.street_address2|default_if_none:""}}</p>
                        <p>{{customer.town_or_city|default_if_none:""}}</p>
                        <p>{{customer.county|default_if_none:""}}</p>
                        <p>{{customer.postcode|default_if_none:""}}</p>
                        <p>{{customer.country|default_if_none:""}}</p>
                    </div>
                    <div class="text-left mt-5 mb-2">                    
                        <a href="{% url 'edit_account' %}" class="btn btn-outline-black rounded-0">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>Edit Account</span>
                        </a>
                    </div>
            </div>
            <div class="col-12 col-lg-6">
                
                {% if reviews %}
                <hr  class="d-block d-lg-none">
                <a class="small" href="{% url 'view_reviews' %}"
                title="">
                <h6> YOUR REVIEWS ({{reviews.count}})</h6>
                </a>
                <hr>
                {% endif %}
                {% if orders %}
                <H6 class="mb-4">ORDER HISTORY ({{orders.count}})</H6>
                <div class="order-history table-responsive">
                    <table style="border: 1px solid rgb(189, 189, 189)" class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th class="small d-none d-sm-block">Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody style="border: 1px solid rgb(179, 179, 179)">
                            {% for order in page_obj %}
                                <tr style="border: 1px solid rgb(179, 179, 179)">
                                    <td>
                                        <a class="small" href="{% url 'view_order' order.id %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td><p class="small">{{ order.date|date:"d M Y" }}</p></td> 
                                    <td class="small d-none d-sm-block">
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small d-none d-sm-block">
                                                    {{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td><p class="small">  €{{ order.grand_total }}</p> </td>
                                </tr>
                            {% endfor %}
                          
                        </tbody>
   
                    </table>
                    <nav aria-label="Products list">
                        <ul class="pagination step-links list-inline justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item"> <a class="page-link" href="?page=1">&laquo; first</a></li>
                            <li class="page-item"> <a class="page-link"
                                    href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                            {% endif %}
                            <li class="page-item disabled">
                                <span class="current page-link">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                            </li>
                            {% if page_obj.has_next %}
                            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last
                                    &raquo;</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                {% endif %}
            </div>
               
        </div>
    </div>
{% endblock %} 


{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/country_field.js' %}"></script>
{% endblock %}
