{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid ">
    <div class="row">
        <div class="col-12">
            <div class="polymorphism p-3 text-center">
                <img class="robot rounded img-thumbnail mx-auto d-block mb-3" src="{% static 'images/robot.png' %}" alt="404 Robot">
                <h2 class="logo-font">404 Error</h2>
                <p>It seems we've taken a wrong turn<br>
                Click the home button to get back to our shop</p>
                <a class="btn btn-dark custom-dark-btn" href="{% url 'home' %}"><span class="button-effect">Home</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
