{% load static %}

<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="IrishCraft showcases some of the finest Irish made products to bring your home to life">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/js-snackbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/hover-grid.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />

  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/4863a75fd6.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
<script
src="https://code.jquery.com/jquery-3.6.0.js"
integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous" async>
  </script>
  
  <!-- Stripe -->
  <script src="{% static 'js/js-snackbar.js' %}"></script>
  <script src="https://js.stripe.com/v3/"></script>

  {% endblock %}

  {% block extra_js %}
  {% endblock %}

<title>Irish Craft {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header class="container-fluid fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top {% if request.user.is_superuser %} superuser {% else %} bg-dark {% endif %} p-1 p-sm-1 p-md-0">
      <div class="container-fluid navigation-container">
        <a class="navbar-brand" href="{% url 'home' %}"><img class="img-thumbnail ml-1"
            src="{% static 'images/logo.png' %}" alt="irishcraft logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pt-3" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto mb-2 mb-md-0 d-lg-flex align-items-center">
            <li class="nav-item h-100 pb-3">
              <form method="GET" action="{% url 'products' %}" class="d-flex justify-content-end">
                <input class="form-control me-2 search-bar" type="search" placeholder="..." aria-label="Search" name="q">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </li>
            <li class="nav-item h-100 dropdown">
              <a class="nav-link" href="#" id="products-menu" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="text-center">
                  <div></div>
                  <p class="my-0 ml-md-3">Products</p>
                </div>
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="products-menu">
                <a class="dropdown-item" href="{% url 'products'%}" id="all-products-link">
                  All Products
                </a>
                <a class="dropdown-item" href="{% url 'products' %}?category=textiles" id="textiles">
                  Textiles
                </a>
                <a class="dropdown-item" href="{% url 'products' %}?category=prints" id="prints">
                  Prints
                </a>
                <a class="dropdown-item" href="{% url 'products' %}?category=glassware" id="glassware">
                  Glassware
                </a>
                <a class="dropdown-item" href="{% url 'products'%}?category=kitchen" id="kitchen-link">
                  Kitchen
                </a>
              </div>
            </li>
            <li class="nav-item h-100 dropdown">
              <a class="nav-link" href="#" id="account-menu" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="text-center">
                  <p class="my-0">{% if request.user.is_superuser %}Administration      {% else %}My Account{% endif %}</p>
                </div>
              </a>
              <div class="dropdown-menu border-0 dropdown-menu-right" aria-labelledby="account-menu">
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                  <a href="{% url 'add_product' %}" class="dropdown-item">
                    Add Product</a>
                  <a href="{% url 'product_health' %}" class="dropdown-item">
                    Product Activity</a>
                  {% else %}
                  <a href="{% url 'customer_account' %}" class="dropdown-item">My Profile</a>
                  {% endif %}
                  <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
              </div>
            </li>
            {% if request.user.is_superuser %}
            
            {% else %}
            <li class="nav-item h-100 basket-dropdown-zone">
              <a href=""  id="menu-icon">
                <div class="{% if grand_total %}text-info font-weight-bold{% else %}{% endif %} nav-link">
                  <div class="text-center">
                    <i class="fas fa-shopping-bag fa-lg"></i>
                    <p class="my-0">
                      {% if total %}
                      €{{ total|floatformat:2 }}
                      {% else %}
                      €0.00
                      {% endif %}
                    </p>
                  </div>
                </div>
              </a>
              <ul class="box">
                  {% include 'includes/shopping_basket_dropdown.html' %}
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% if request.user.is_superuser %}      
    {% else %}
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light w-100 navbar-container mb-2">
          {% include 'includes/category-nav.html' %}
        </nav>
      </div>
    {% endif %}
  </header>

  <!-- Snackbar script used to create toast messages alerts
  https://www.cssscript.com/snackbar-toast-notification/ -->

  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
      {% with message.level as level %}
        {% if level == 25 %}
          {% include 'includes/toasts/toast_success.html' %}
        {% elif level == 40 %}
          {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
          {% include 'includes/toasts/toast_warning.html' %}
        {% else %}
          {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
      {% endwith %}
    {% endfor %}
  </div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block postloadjs %}
  
  {% endblock %}
  
  <script src="{% static 'js/dropdown_basket.js' %}" defer></script>
  <script>
    // https://stackoverflow.com/questions/23706003/changing-nav-bar-color-after-scrolling
    $(function () {
      $(document).scroll(function () {
        var $nav = $(".category-nav");
        $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
      });
    });

    // Enable href link for basket when on mobile
    function resize() {
      if ($(window).width() < 739){
          hrefLink = "{% url 'view_basket' %}";
          $("#menu-icon").attr("href", hrefLink); 
      }
      else {
        hrefLink = "#"
          $("#menu-icon").attr("href", hrefLink); 
      }     
    }

    $(window).on("resize", resize);
    resize();     
  </script>
    
  <footer>
    <p><a href="#">Back to top</a></p>
    <p class="pb-3">© 2020–2021 Irish Craft, Inc.</p>
  </footer>
</body>

</html>