{% extends "base.html" %}
{% load static %}



{% block content %}

<div class="row">
    <div class="col-12 m-5">
           <!-- Barchart -->
           <h3 class="mb-3">Product Activity</h3>
            <div id="container" style="width: 75%;">
                <canvas id="product-chart" data-url="{% url 'product_chart' %}"></canvas>
            </div>
    </div>
</div>

{% endblock %} 

{% block postloadjs %}
<script type="text/JavaScript" src="{%  static 'js/bar_chart.js' %}"></script>
{% endblock %} 


