{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="logo-font mb-4">Product Management</h2>
    <h5 class="text-muted">Edit Product</h5>
    <hr>

    <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form.name | as_crispy_field }}
                {{ form.description | as_crispy_field }}
            </div>
            <div class="col-12 col-md-6">
                {{ form.category | as_crispy_field }}
                {{ form.price | as_crispy_field }}
                {{ form.image | as_crispy_field }}
                <div class="text-right">
                    <a class="btn btn-outline-black rounded-0" href="/products/">Cancel</a>
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="https://upload-widget.cloudinary.com/global/all.js"></script>  

{% endblock %}