{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="main">
        <div class="container marketing">
            <div class="row">
                {% for product in page_obj %}
                <div class="col-sm-6 col-lg-4">
                    <div class="card-deck">
                        <div class="card">
                        {% if product.cloud_image.url != "https://res.cloudinary.com/ddmhcc5mk/image/upload/No%20Image" %}
                            <a href="{% url 'product_details' product.id %}">
                                <img src="{{ product.cloud_image.url }}" alt="{{product.name}}">
                            </a>
                        {% elif product.image_url %}
                            <a href="{% url 'product_details' product.id %}">
                                <img src="{{ product.image_url }}" alt="{{product.name}}">
                             </a>
                        {% else %}
                            <a href="{% url 'product_details' product.id %}">
                                <img src="{{MEDIA_URL}}no_image_placeholder.svg" alt="{{product.name}}">
                            </a>
                        {% endif %}
                            <!-- {% if product.image_url %}
                            <img class="card-img-top" src="{{ product.image_url }}" alt="{{product.name}}">
                            {% else %}
                            <img class="card-img-top img-fluid" src="{{MEDIA_URL}}no_image_placeholder.svg" alt="{{product.name}}">
                            {% endif %} -->
                            <div class="card-body">
                                <p class="card-text">{{product.name}}</p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text">€ {{product.price}}</p>
                                <p><a class="btn btn-secondary" href="{% url 'product_details' product.id %}">View details »</a></p>.  
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <nav aria-label="Products list">
                    <ul class="pagination step-links list-inline justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item"> <a class="page-link" href="?page=1">&laquo; first</a></li>
                        <li class="page-item"> <a class="page-link"
                                href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                        {% endif %}
                        <li class="page-item disabled">
                            <span class="current page-link">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                        </li>
                        {% if page_obj.has_next %}
                        <li class="page-item"> <a class="page-link"
                                href="?page={{ page_obj.next_page_number }}">next</a></li>
                        <li class="page-item"> <a class="page-link"
                                href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                        {% endif %}
                    </ul>
            </nav>
        </div><!-- /.container -->
    </div><!-- /.main -->
    {% endblock %}

    {% block postloadjs %}
    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}