{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
            <div class="col-sm">
                <div class="product-image">
                    {% if product.image_url != None %}
                        <a href="{{ product.image_url }}">
                            <img class="card-img-top" src="{{ product.image_url }}" alt="{{product.name}}">
                        </a>    
                    {% elif "No%20Image" not in product.image.url %}
                        <a href="{{ product.image.url }}">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{product.name}}">
                        </a>
                    {% else %} 
                        <a href="{% url 'product_details' product.id %}">
                            <img class="card-img-top" src="https://demofree.sirv.com/products/123456/123456.jpg?profile=error-example" alt="{{product.name}}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm">
                <div class="product-details">
                    <h5>{{product.name}}</h5>
                    <p>
                        {{product.description}}
                    </p>
                    {% if product.category %}
                    <a class="text-muted my-4 small" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1" ></i>{{ product.category.friendly_name }}
                    </a>
                    {% endif %}
                    <p>€ {{ product.price }}</p>
                <form action="{% url 'add_to_basket' product.id %}" method="POST" class="form">
                    {% csrf_token  %}
                    <div class="row">
                        <div class="col-12">
                            <p><strong>Quantity: </strong></p>
                            <div class="form-group w-575">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0" 
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>   
                                    <input type="number" class="form-control   qty_input mt-1 p-3" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{product.id}}" >
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            {% if request.user.is_authenticated and request.user.is_superuser%}
                                <a href="{% url 'edit_product' product.id %}" class="btn btn-primary btn active mt-2" role="button" aria-pressed="true">Edit Product</a>
                                <a href="{% url 'delete_product' product.id %}" class="btn btn-danger btn active mt-2" role="button" aria-pressed="true">Delete Product</a>
                            {% else %}
                                <a href="{% url 'products' %}" class="btn btn-primary btn active mt-2" role="button" aria-pressed="true">Continue Shopping</a>
                                <input type="submit" class="btn btn-secondary btn active mt-2" value="Add to basket">
                                <input type="hidden" name="redirect_url" value="{{ request.path  }}">
                            {% endif %}
                
                        </div>
                    </div>
                </form>
                </div>
            </div> 
    </div>

    <!-- Row to display commonly related products purchased with item being viewed -->
    <div class="row">
        <div class="col-sm-12 col-md-6">
           
            <h6>Also purchased with this item:</h6>
            <div class="row">
                {% for order in linked_purchases %}
                    {% for item in order.lineitems.all %}
                        {% if item.product.name != product.name %}
                                <div class="col-3 my-1">
                                    <a href="{% url 'product_details' item.product.id %}">
                                {% if item.product.image_url != None %}
                                    <img class="img-thumbnail"  src="{{item.product.image_url}}" alt="{{item.product.name}}">
                                {% elif "No%20Image" not in item.product.image.url %}
                                    <img class="img-thumbnail"  src="{{item.product.image.url}}" alt="{{item.product.name}}">          
                                {% else %} 
                                    <img class="img-thumbnail" src="https://demofree.sirv.com/products/123456/123456.jpg?profile=error-example" alt="{{item.product.name}}">    
                                {% endif %}
                                </a>
                            </div>
                            {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_script.html' %}
{% endblock %}