{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
            <div class="col-sm mt-3 mb-2">
                <div class="product-image">
                    {% if 'No%20Image' not in product.image.url%}
                        <a href="{{ product.image.url }}" class="prod-image" aria-label="{{product.name}} image">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{product.name}}">
                        </a>    
                    {% else %} 
                            <a href="{% url 'product_details' product.id %}" aria-label="{{product.name}} image" class="prod-image">
                            <img class="card-img-top img-fluid" src="https://demofree.sirv.com/products/123456/123456.jpg?profile=error-example" alt="{{product.name}}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm mt-3 mb-2">
                <div class="product-details">
                    <h5>{{product.name}}</h5>
                    <p>
                        {{product.description}}
                    </p>
                    {% if product.category %}
                    <a class="text-muted my-4 small" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1" ></i>{{ product.category.friendly_name }}
                    </a>
                    {% endif %}
                    <p>€ {{ product.price }}</p>
                <form action="{% url 'add_to_basket' product.id %}" method="POST" class="form">
                    {% csrf_token  %}
                    <div class="row">
                        <div class="col-12">
                            <p><strong>Quantity: </strong></p>
                            <div class="form-group w-575">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0" 
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>   
                                    <input type="number" class="form-control   qty_input mt-1 p-3" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{product.id}}" >
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            {% if request.user.is_authenticated and request.user.is_superuser%}
                                <a href="{% url 'edit_product' product.id %}" class="btn btn-primary btn active mt-2" role="button" aria-pressed="true">Edit Product</a>
                                <a href="{% url 'delete_product' product.id %}" class="btn btn-danger btn active mt-2" role="button" aria-pressed="true" onclick="return confirm('Are you sure you want to delete this?')">Delete Product</a>
                            {% else %}
                                <input type="submit" class="btn btn-secondary btn active m-2" value="Add to basket">
                                <input type="hidden" name="redirect_url" value="{{ request.path  }}">
                                <a href="{% url 'products' %}" class="btn active mt-2" role="button" aria-pressed="true">Continue Shopping <i class="fas fa-arrow-right"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </form>
                </div>
            </div> 
    </div>
    {% if reviews %}
    <hr>
    <div class="row mb-5">
        <div class="col-sm-12 col-md-8">    
            <div class="card">
                <div class="card-header">
                    <h6>Reviews ({{reviews.count}})</h6>
                </div>
                {% for review in page_obj %}
                    <div class="card-body small">
                        <i class="fas fa-user small"></i> {{review.user}}
                        <div class="mb-1 small"><strong></strong>
                            {% with ''|center:review.rating as range %}
                                <div>{% for x in range %}
                                <span class="fa fa-star checked text-warning"></span>
                                {% endfor %}
                            </div>
                            {% endwith %}
                            <span>Reviewed on: {{review.created}}</span><br>
                            <span class="text-info" >Verified Purchase <i class="fas fa-check"></i></span><br>
                        </div>
                        <h6 class="card-title comment-title">{{review.title}}</h6>
                        <p class="comment more">{{review.body}}</p>
                        {% if request.user.is_authenticated and request.user == review.user%}
                        <a href="{% url 'edit_review' review.id %}" class="m-2"><i class="fas fa-edit"></i> Edit</a>
                        <a href="{% url 'delete_review' review.id %}" class=" text-danger m-2" onclick="return confirm('Are you sure you want to delete this?')"><i class="fas fa-trash-alt"></i> Delete</a>
                        {% endif %}
                    </div>
                {% endfor %}
                <nav aria-label="Products list">
                    <ul class="pagination step-links list-inline justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item"> <a class="page-link" href="?page=1">&laquo; first</a></li>
                        <li class="page-item"> <a class="page-link"
                                href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                        {% endif %}
                        <li class="page-item disabled">
                            <span class="current page-link">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                        </li>
                        {% if page_obj.has_next %}
                        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last
                                &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<div id="picture-overlay">
    <div id="popup">
        <div class="image-container">
            <!-- Popup to allow user click on image and close without using back button, src left blank and filled by js below onclick -->
            <img class="popup-image" src="" />
            <div class="close_popup"><i class="fa fa-window-close" aria-hidden="true"></i></div>
    </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_script.html' %}
<script src="{% static 'js/readmore.js' %}"></script>

<script>
    // https://stackoverflow.com/questions/22352332/how-to-add-a-close-button-to-an-image-that-opens-from-a-thumbnail
    $("a.prod-image").on("click",function(){ // when press link
        var fullImg = $(this).attr("href"); // get full size img url
        $("#popup img").attr("src", fullImg); // image in popup now has source that you need
        $("#popup").css("display", "flex");
        // popup appears
        $("#picture-overlay").css("display", "block");
        return false// do not redirect 
    })

    //Picture popup allowing users to view full size image and close
    $(".close_popup").on("click", function(){
        $("#popup").hide() // close popup
        $("#picture-overlay").hide()// close overlay
    })

    $("#picture-overlay").on("click", function(){
        $("#popup").hide() // close popup
        $("#picture-overlay").hide()
    })

</script>

{% endblock %}